black
boto3-stubs[all,boto3]
debugpy
fakeredis
flake8
flake8-print
freezegun
hupper
isort
memory-profiler
moto
mypy
pip-tools
pytest-benchmark
pytest-cov
pytest-xdist
ruff
types-pytz
types-pyyaml
types-requests