adal==1.2.7
aenum==2.2.6
aiohttp==3.9.5
aiosignal==1.2.0
alibabacloud-credentials==0.2.0
alibabacloud-cs20151215==3.0.12
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-ims20190815==2.0.5
alibabacloud-openapi-util==0.1.6
alibabacloud-tea-console==0.0.1
alibabacloud-tea-openapi==0.3.3
alibabacloud-tea-util==0.3.7
alibabacloud-tea-xml==0.0.2
alibabacloud-tea==0.2.9
aliyun-python-sdk-actiontrail==2.0.0
aliyun-python-sdk-alb==1.0.16
aliyun-python-sdk-cms==7.0.32
aliyun-python-sdk-core-v3==2.13.10
aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-ecs==4.17.6
aliyun-python-sdk-elasticsearch==3.1.1
aliyun-python-sdk-kms==2.8.0
aliyun-python-sdk-nlb==1.0.12
aliyun-python-sdk-r-kvstore==2.1.2
aliyun-python-sdk-ram==3.3.0
aliyun-python-sdk-rds==2.3.10
aliyun-python-sdk-slb==3.3.21
aliyun-python-sdk-sts==3.0.1
aliyun-python-sdk-vpc==3.0.25
apifairy==1.4.0
apispec==5.1.1
arrow==1.2.1
async-timeout==4.0.2
attrs==23.1.0
awswrangler==3.4.1
azure-common==1.1.27
azure-containerregistry==1.2.0
azure-core==1.29.5
azure-identity==1.7.1
azure-keyvault-certificates==4.5.1
azure-keyvault-keys==4.6.1
azure-keyvault-secrets==4.5.1
azure-kusto-data==4.1.4
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==3.0.0
azure-mgmt-appconfiguration==3.0.0
azure-mgmt-applicationinsights==4.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-automation==1.0.0
azure-mgmt-batch==15.0.0
azure-mgmt-botservice==2.0.0
azure-mgmt-cdn==11.0.0
azure-mgmt-cognitiveservices==13.4.0
azure-mgmt-compute==18.0.0
azure-mgmt-containerinstance==9.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==19.0.0
azure-mgmt-core==1.3.2
azure-mgmt-cosmosdb==6.4.0
azure-mgmt-databricks==1.0.0
azure-mgmt-datafactory==2.3.0
azure-mgmt-datalake-store==1.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==10.2.0
azure-mgmt-eventhub==10.0.0
azure-mgmt-frontdoor==1.0.0
azure-mgmt-hdinsight==9.0.0
azure-mgmt-keyvault==10.0.0
azure-mgmt-kusto==3.1.0
azure-mgmt-loganalytics==8.0.0
azure-mgmt-logic==9.0.0
azure-mgmt-managementgroups==1.0.0
azure-mgmt-monitor==3.0.0
azure-mgmt-network==16.0.0
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.0.0
azure-mgmt-redis==14.1.0
azure-mgmt-resource==23.0.1
azure-mgmt-resourcegraph==8.0.0
azure-mgmt-search==8.0.0
azure-mgmt-security==6.0.0
azure-mgmt-servicebus==8.1.0
azure-mgmt-servicefabric==2.0.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==19.1.0
azure-mgmt-storagesync==1.0.0
azure-mgmt-subscription==3.1.1
azure-mgmt-synapse==2.0.0
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-web==3.0.0
azure-servicebus==7.10.0
azure-storage-blob==12.13.1
azure-storage-queue==12.7.3
beautifulsoup4==4.8.1
blinker==1.6.2
boto3==1.33.6
botocore==1.33.6
brotli==1.0.9
bytecode==0.14.0
cachetools==4.0.0
cattrs==22.2.0
certifi==2023.7.22
cffi==1.15.0
cfn-flip==1.3.0
charset-normalizer==2.0.10
circuitbreaker==1.3.2
click==8.1.3
contextlib2==21.6.0
crcmod==1.7
croniter==1.3.8
crowdstrike-falconpy==1.2.9
cryptography==42.0.7
cssutils==1.0.2
ddsketch==2.0.4
ddtrace==1.19.0
defusedxml==0.6.0
deprecated==1.2.13
diama
duckdb==0.6.1
ecdsa==0.14.1
envier==0.4.0
exceptiongroup==1.1.0
faker==2.0.4
flask-compress==1.13
flask-httpauth==4.5.0
flask-marshmallow==0.14.0
flask==2.3.2
flatdict==4.0.1
fpdf==1.7.2
frozenlist==1.3.0
geoip2==4.1.0
google-api-core[grpc]==1.31.5
google-api-python-client==2.85.0
google-auth-httplib2==0.1.0
google-auth==1.27.1
google-cloud-access-context-manager==0.1.9
google-cloud-asset==3.9.0
google-cloud-core==1.4.1
google-cloud-logging==1.14.0
google-cloud-org-policy==1.3.0
google-cloud-os-config==1.9.0
google-cloud-pubsub==1.0.2
google-cloud-secret-manager==0.2.0
google-cloud-storage==1.32.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos[grpc]==1.54.0
grpc-google-iam-v1==0.12.3
grpcio==1.56.2
httplib2==0.19.0
ics-azure-analyzer
ics-azure-edh
ics-azure-lpa
idna==3.7
ijson==3.2.0.post0
importlib-metadata==6.0.0
inlinestyler==0.2.3
ipaddr==2.2.0
isodate==0.6.1
itsdangerous==2.1.2
jinja2==3.1.4
jira==3.3.2
jmespath==0.9.4
kubernetes==20.13.0
lark-parser==0.12.0
ldap3==2.8.1
lxml==4.9.1
markdown==3.2.2
markupsafe==2.1.2
marshmallow-dataclass[enum,union]==8.5.8
marshmallow-enum==1.5.1
marshmallow==3.18.0
maxminddb==2.0.3
mergedeep==1.3.4
msal-extensions==0.3.1
msal==1.24.1
msgraph-core==0.2.2
msrest==0.7.1
msrestazure==0.6.4
multidict==4.7.6
mypy-extensions==0.4.3
mysqlclient==2.0.3
networkx==3.0
ntplib==0.3.4
numpy==1.22.0
oauth2client==4.1.3
oauthlib==3.2.2
oci==2.123.0
okta==1.3.1
onetimepass==1.0.1
opentelemetry-api==1.20.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation-flask==0.41b0
opentelemetry-instrumentation-wsgi==0.41b0
opentelemetry-instrumentation==0.41b0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
oss2==2.9.0
packaging==23.0
pandas==1.3.5
parsuricata==0.4.1
pathvalidate==1.1.1
pbr==5.4.4
portalocker==1.7.1
prometheus-client==0.16.0
proto-plus==1.19.8
protobuf==3.19.5
psutil==5.7.3
pyarrow==14.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.19
pycryptodome==3.20.0
pydash==6.0.0
pyjwt[crypto]==2.8.0
pyopenssl==24.0.0
pyparsing==2.4.7
pytenable==1.4.3
python-box==5.4.1
python-dateutil==2.8.2
python-frontmatter==1.0.0
python-jose==3.2.0
python-ldap==3.4.2
python3-saml==1.16.0
pytz==2022.7
pyvmomi==6.7.3
pyyaml==6.0.1
r7insight-python==1.0.0
redis==4.5.4
redlock==1.2.0
requests-auth-aws-sigv4==0.7
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.31.0
restfly==1.4.5
rsa==4.7.2
s3transfer==0.8.2
schema==0.7.4
semver==2.13.0
sentry-sdk[flask,sqlalchemy]==1.31.0
servicenow==2.1.0
setuptools==65.6.3
six==1.14.0
soappy==0.12.22
soupsieve==2.0
splunk-sdk==1.6.16
sqlalchemy==1.3.24
sqlparse==0.5.0
structlog==21.1.0
tenacity==8.2.3
text-unidecode==1.3
times==0.7
typeguard==2.13.3
typing-extensions==4.8.0
typing-inspect==0.7.1
uritemplate==3.0.1
urllib3==1.26.18
waitress==2.1.2
webargs==8.4.0
websocket-client==1.2.1
werkzeug==3.0.3
wrapt==1.14.1
wstools==0.4.8
xlsxwriter==1.2.5
xmlsec==1.3.11
xmltodict==0.12.0
yarl==1.6.0
zipp==3.15.0